html { }

body { font-size: 100%; margin: 0px; padding: 0px; background-color: #ffffff; }

body { }

main, header, footer, section, div,
h1, h2, h3, p, pre, code, img, label, textarea, a {
  display: block;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  line-height: 1em;
  box-sizing: border-box;
}

a { display: inline; text-decoration: none; }

pre { padding: 1px; overflow: auto; }

code { font-family: monospace; display: inline; }

input, button, select { display: block; margin: 0px; }

textarea { border: 1px solid #aaaaaa; line-height: 1.5em; }

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

header, main, footer {
  width: 95%;
  max-width: 700px;
  margin: 0px auto 0px auto;
  padding: 10px;
}
  @media (min-width: 500px) {
    header, main, footer {
      width: 90%;
    }
  }

  @media (min-width: 800px) {
    header, main, footer {
      width: 80%;
    }
  }

img {
  max-width: 100px;
}

h1 {
  font-size: 32px;
  margin: 0px 0px 20px 0px;
  color: #454545;
  color: #779dff;
}

h2 {
  font-size: 24px;
  margin: 0px 0px 20px 0px;
  color: #6b788c;
}

h3 {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
  color: #232323;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  color: #232323;
}

p {
  margin: 0px 0px 10px 0px;
  line-height: 1.3em;
  font-size: 16px;
  font-weight: 200;
  color: #232323;
  line-height: 1.5em;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

textarea {
  display: block;
  margin: 10px 0px 10px 0px;
  width: 100%;
  box-sizing: border-box;
}

input[type="radio"] {
  display: inline;
}

label {
  display: inline;
  font-size: 14px;
  vertical-align: text-top;
}

pre {
  margin: 20px 0px 30px 0px;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 10px;
  background-color: #fafafa;
}

code {
  display: inline;
  font-size: 14px;
  line-height: 1.2em;
  color: #232323;
}

mark {
  background-color: #dedede;
}

.source-link {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
}

  @media (min-width: 800px) {
    .source-link {
       position: fixed;
    }
  }


.octo-cat {
  width: 100%;
}


.logo {
  display: inline;
  max-width: 75px;
  border: 1px solid #dddddd;
  border-radius: 100%;
}


.hdr {
  position: relative;
  margin: 10px auto 10px auto;
  font-size: 10px;
}

  @media (min-width: 500px) {
    .hdr {
      margin: 15px auto 15px auto;
    }
  }

  @media (min-width: 800px) {
    .hdr {
      margin: 20px auto 20px auto;
    }
  }


.title {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 75px;
}


.name {
  position: absolute;
  top: 50%;
  transform: translate(10%, -50%);
}


.p-name {
  font-size: 14px;
}


.segment {
  margin: 0px 0px 40px 0px;
}


.demo-section {
  width: 100%;
  max-width: 600px;
  margin: 30px auto 40px auto;
}


.radios {
  display: block;
  margin: 0px 0px 10px 0px;
}


.radios-right {
  margin: 0px 0px 0px auto;
  text-align: right;
}


.radio-button {
  display: inline;
  margin: 0px 10px 0px 0px;
}


.radio-button-right {
  display: inline;
  margin: 0px 0px 0px 10px;
}


.button {
  margin: 0px auto 0px auto;
}


.comment-box {
  width: 100%;
  padding: 10px;
  border: 10px solid #aaaaaa;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: text-top;
  font-family: 'Helvetica', 'Arial', sans-serif;
  resize: none;
  transition: border-color 0.5s linear;
}

.comment-box:hover {
  border-color: #e15bff;
  transition: border-color 0.5s linear;
}

.comment-box:focus {
  border-color: #009dff;
  transition: border-color 0.5s linear;
}

  @media (min-width: 500px) {
    .comment-box {
      border: 7px solid #aaaaaa;
    }
  }

  @media (min-width: 800px) {
    .comment-box {
      border: 4px solid #aaaaaa;
    }
  }


.no-scroll {
  max-height: none;
  width: 100%;
}


.cap {
  height: 100px;
  max-height: 200px;
}

.crazy-corners {
  padding: 20px;
  max-height: 200px;
  border-radius: 40px 40px 40px 40px;
}


.trim {
  height: 100px;
  max-height: 100px;
}


.copywrite {
  text-align: center;
  font-size: 14px;
  color: #787878;
}
